In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data/tweets_dataset.csv")
df

In [ ]:
len(df)

In [ ]:
df.Biased.unique()
a = (df.Biased == 1).sum()
b = (df.Biased == 0).sum()
df.shape[0] - a - b

In [ ]:
a = df[(df.Biased != 0) & ( df.Biased != 1)]
x = a.Text.str.len().mean() 
x

In [ ]:
df.Biased.value_counts()

In [84]:
d = df[df.Biased == 1 ]
z = d.Text.str.split()
display(z.str.len().mean())
display(d.Text.str.len())


# d = df[df.Biased == 0 ]
# d.Text.str.len().mean()

# df.Text.str.len().mean()

np.float64(23.6072)

0       271
1        51
2       164
15      289
39       72
       ...
6936     89
6937    112
6938     68
6939    118
6940    132
Name: Text, Length: 1250, dtype: int64

In [ ]:
df.iloc[0].Text

In [104]:
df.Text.str.len().sort_values(ascending=False).head(3).index.to_list()

[6088, 5987, 3659]

In [144]:

# df.Text.str.split().flatten()
pd.Series(" ".join(df.Text).split()).str.isupper().sum()

np.int64(7085)

In [ ]:
a = ["Username", "CreateDate"]
df[a]

,TweetID,Username,Text,CreateDate,Biased,Keyword
0,1228740093357092865,Celtic_Films,AIPAC should be registered as a foreign agent ...,2020-02-15 17:57:21+00:00,1,Israel
1,1239547900012589056,zariths__,"RT @qiss0rkid: go to israel pls , we don't nee...",2020-03-16 13:43:43+00:00,1,Israel
2,1216559517887954945,kelownascott,"The world, including Canada, has given Israel ...",2020-01-13 03:16:06+00:00,1,Israel
3,1217123508754534400,KeishaJake,These children avoid walking over the US &amp;...,2020-01-14 16:37:12+00:00,0,Israel
4,1232258532273090560,amit2nirvana,RT @IDF: The last 24 hours in Israel: https://...,2020-02-25 10:58:23+00:00,0,Israel
...,...,...,...,...,...,...
6936,1241770877336711168,CitizenJane99,"""Use your socks as face masks""\r\n Zionazi I...",2020-03-22 16:57:02+00:00,1,ZioNazi
6937,1241902809592803328,CHUCK_1967,THE GREAT DEPRESSION. THESE ZIONAZI JEWS AND T...,2020-03-23 01:41:17+00:00,1,ZioNazi
6938,1243432780127707136,FeralGlance10,@parislees @irisstylosa Not when it's run by b...,2020-03-27 07:00:51+00:00,1,ZioNazi
6939,1244685065470107648,Nables_S,@wherepond @Tibou12379939 @JuanCalosoooooo @pa...,2020-03-30 17:56:59+00:00,1,ZioNazi
6940,1244973868936130560,Zencali,RT @Nables_S: @wherepond @Tibou12379939 @JuanC...,2020-03-31 13:04:35+00:00,1,ZioNazi

In [152]:
df.Text.replace(to_replace=".", value="",inplace=True)

In [ ]:
data.Text.replace(to_replace=".", value="",inplace=True)

In [155]:
s = df.Text.str.lower()
s

0       aipac should be registered as a foreign agent ...
1       rt @qiss0rkid: go to israel pls , we don't nee...
2       the world, including canada, has given israel ...
3       these children avoid walking over the us &amp;...
4       rt @idf: the last 24 hours in israel: https://...
                              ...
6936    "use your socks as face masks"\r\n   zionazi i...
6937    the great depression. these zionazi jews and t...
6938    @parislees @irisstylosa not when it's run by b...
6939    @wherepond @tibou12379939 @juancalosoooooo @pa...
6940    rt @nables_s: @wherepond @tibou12379939 @juanc...
Name: Text, Length: 6941, dtype: object

In [159]:
a ={"aa":1}
b = {"ccf":4}


a.update(b)
a

{'aa': 1, 'ccf': 4}

In [ ]:
pd.Series(" ".join(df.Text).split()).value_counts()

In [168]:
pd.Series(" ".join(df.Text).split()).value_counts().head(10).index.to_list()

['the', 'to', 'of', 'and', 'Jews', 'in', 'a', 'is', 'for', 'are']