In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data/tweets_dataset.csv")
df

In [ ]:
len(df)

In [ ]:
df.Biased.unique()
a = (df.Biased == 1).sum()
b = (df.Biased == 0).sum()
df.shape[0] - a - b

In [ ]:
a = df[(df.Biased != 0) & ( df.Biased != 1)]
x = a.Text.str.len().mean() 
x

In [ ]:
df.Biased.value_counts()

In [84]:
d = df[df.Biased == 1 ]
z = d.Text.str.split()
display(z.str.len().mean())
display(d.Text.str.len())


# d = df[df.Biased == 0 ]
# d.Text.str.len().mean()

# df.Text.str.len().mean()

np.float64(23.6072)

0       271
1        51
2       164
15      289
39       72
       ...
6936     89
6937    112
6938     68
6939    118
6940    132
Name: Text, Length: 1250, dtype: int64

In [ ]:
df.iloc[0].Text

In [104]:
df.Text.str.len().sort_values(ascending=False).head(3).index.to_list()

[6088, 5987, 3659]

In [144]:

# df.Text.str.split().flatten()
pd.Series(" ".join(df.Text).split()).str.isupper().sum()

np.int64(7085)